/* Colour Settings */
    nav ul {
        background: linear-gradient(to right, #ed242d 60%,#ed4a27 100%);
        border-bottom: 4px solid #C9283E;
    }

    nav ul li a {
        color: #f9f9f9;
    }

    nav ul li:hover {
      background: rgba(0, 0, 0, 0.25);
    }

    .genesis-nav-menu a:hover {
      color: white;
    }

    .genesis-nav-menu .current-menu-item > a {
      color:#EFEFEF;
    }

    .toggle {
      background: linear-gradient(to right, #ed242d 60%,#ed4a27 100%);
      color: white;
    }

    .toggle i:hover {
      color:black;
    }
/* End Colour Settings */

nav * {
  padding: 0;
  margin: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  flex-direction: column;
  text-transform:uppercase;
  margin-bottom:0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 1.2rem;
  display: block;
  text-decoration: none !important;
}

.arrow {
  font-family: FontAwesome;
  float: right;
}

.arrow-down::after {
  content: "\f107";
}

.arrow-right::after {
  content: "\f105";
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  display: none;
}

.wizzit-burger-title {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 5px;
    bottom: 2px;
    position: relative;
    text-transform: uppercase;
}

/* Small Screens */
@media only screen and (max-width: 768px) {
  .toggle {
    display: block;
  }

  nav ul {
    display: none;
  }

  .menu-item-has-children ul li a {
    padding-left: 2rem;
  }

  .menu-item-has-children ul .menu-item-has-children ul a {
    padding-left: 3rem;
  }

  .arrow-right::after {
    content: "\f107";
  }

  .active {
    display: block;
  }
}

/* Large Screens */
@media only screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    z-index:9999;
  }

  nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
  }

  .menu-item-has-children ul,
  .menu-item-has-children ul .menu-item-has-children ul {
    display: none;
    width: 100%;
    position: absolute;
  }

  .menu-item-has-children ul .menu-item-has-children ul {
    left: 100%;
    top: 0;
  }

  nav ul li:hover ul,
  .menu-item-has-children ul .menu-item-has-children:hover ul {
    display: flex;
    flex-direction: column;
  }
}
